<br />

<div class="card">
    <div class="card-header">
        Details of <b>{{users.name}}</b>
    </div>
    <div class="card-body">
       <table>
           <tbody>
               <tr>
                   <th>User Id:</th>
                   <th>{{ users._id }}</th>
               </tr>
               <tr>
                <th>Username: </th>
                <th>{{ users.username }}</th>
            </tr>
            <tr>
                <th>User Email:</th>
                <th>{{ users.email }}</th>
            </tr>
           </tbody>
       </table>
    </div>
    <div class="card-footer">
        <a routerLink='/admin-page' class="btn btn-secondary">Back</a>|
        <a (click)="deleteUser()" class="btn btn-danger">Delete</a>|
        <a class="btn btn-info">Update</a>
    </div>


